{% extends 'base.html' %}
{% load static %}
	<head>
		<title> Fresh Cut Shirts </title>
	<link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon_fcs.ico" />		
	<meta name="google-site-verification" content="KPrCTIkFg3RCIWPoYvQO3QBnFcEqKflrEQI_6ztrwzE" />
	{% block styles %}
		{{ block.super }}
		<link rel='stylesheet' href="{% static 'css/home.css' %}" type='text/css'>
		<link rel='stylesheet' href="/static/css/home2.css{{version}}" type='text/css'>
	{% endblock %}

	{% block scripts %}
		{{ block.super }}
		<script src='static/js/imageviewer.js'|add:version|safe ></script>
	{% endblock %}
	</head>
<body>

{% block content %}
<div id="content">
    <div id="pageTitle"> FRESH CUT SHIRTS</div>
    <div id="navBar">
    	<ul>
    		<li> MEMES </li>
    		<li> QUOTES </li>
    		<li> ARTSY </li>
    		<li> CUSTOM </li>
    	</ul>
    </div>

    <div id="shirts-container">
        <ul>
			{% for shirt in shirts %}
                <li> <div class='shirt' style='background-image:url(" {{ shirt.images.0 }}  ")'> </li>
				{% if shirt.video.source %}
                {% endif %}
            {% endfor %}    
        <li> <div class='shirt'> </li>
            <li> <div class='shirt'> </li>
            <li> <div class='shirt'> </li>
    
    </div>
</div>

{% endblock %}





